.transition{
   background-color: dimgray;
   text-align: center;
   padding: 2%;
}

.info{
    margin-top: 40px;
}

.payneimg{
    size:10% ;
}

footer{
   text-align: center;
   color: aliceblue;
}